<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equity-Return Table</title>
</head>
<body>
    <h1>{{ eq }}</h1>
    <table>
        <tr>
            <th>Date</th>
            <th>Return</th>
        </tr>
        {% for item in records %}
        <tr> 
            <td>{{ item.date }}</td>
            <td>{{ item.returns }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>